{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
	<h1>Laisser un message</h1>

	{{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">S'enregistrer</button>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            const countrySelectEl = document.getElementById('form_country');

            countrySelectEl.addEventListener('change', function(e) {
                const formEl = countrySelectEl.closest('form');

                fetch(formEl.action, {
                    method: formEl.method,
                    body: new FormData(formEl)
                })
                .then(response => response.text())
                .then((html) => {
                    var parser = new DOMParser();
	                var doc = parser.parseFromString(html, 'text/html');
                    document.getElementById('form_city').replaceWith(doc.getElementById('form_city'));
                })
                .catch(function (err) {
                    console.warn('Something went wrong.', err);
                });
            })
        });
	</script>
{% endblock %}
