{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
	<h1>S'enregistrer</h1>

	{{ form_start(form) }}
	    {{ form_widget(form) }}

        <button type="submit">S'enregistrer</button>
	{{ form_end(form) }}
{% endblock %}
